Repository Rohan-Deshamudre/Smart-traffic-management-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend-web, test backend

build frontend-web:
  image: node:latest
  stage: build
  script:
  - cd frontend-web
  - npm i

test backend:
  image: python:3.6
  stage: test
  before_script:
  - pip3 install django graphene-django django-cors-headers django-channels django-graphql-jwt mysqlclient mapbox coverage
  script:
  - cd backend
  - python3 manage.py test
  - coverage run manage.py test
  - coverage html
  artifacts:
    paths:
    - backend/htmlcov

Added script to build frontend-web for production
  .gitlab-ci.yml
  frontend-web/package-lock.json
  frontend-web/package.json
Due: build frontend-web

Added pipeline to deploy files to the vps automatically
  .gitlab-ci.yml
Due: none

Added coverage report to pipeline
  backend/test.txt
Due: test backend

Coverage report pipeline fixed
  .gitlab-ci.yml
  backend/test.txt
Due: test backend

Changed coverage regex
  .gitlab-ci.yml
Due: none

Escaped quotes for CI Lint
  .gitlab-ci.yml
Due: none

Fixed pipeline regex coverage
  .gitlab-ci.yml
Due: none

Added deploy for dev branch and pipeline badges to readme
  .gitlab-ci.yml
  README.md
Due: none

Added comments to web code
  frontend-web/src/main.js
  frontend-web/src/views/home/Home.tsx
  frontend-web/src/views/scenario-designer/ScenarioDesigner.tsx
  frontend-web/src/views/scenario-simulator/ScenarioSimulator.tsx
Due: build frontend-web

Added an insights pane in components
  frontend-web/src/components/InsightsPane.tsx
Due: build frontend-web

Created an insights pane (tsx/scss) on simulator
  frontend-web/src/views/scenario-simulator/modules/InsightsPane.tsx
  frontend-web/src/views/scenario-simulator/styles/insightsPane.scss
Due: build frontend-web

Change pipeline
  .gitlab-ci.yml
Due: none

Fixed mapbox style and token
  frontend-web/.env.development
  frontend-web/src/components/map/Map.tsx
Due: build frontend-web

Added pymysql to Dockerfile
  backend/Dockerfile
Due: test backend

Added createUser mutation
  backend/scenwise_backend/__init__.py
  backend/scenwise_backend/schema.py
  backend/users/schema.py
Due: test backend

Removed create user. Added instructions to create user.
  backend/README.md
  backend/scenwise_backend/schema.py
  backend/users/schema.py
Due: test backend

Added permission checking example.
  backend/users/schema.py
Due: test backend

Fixed pipeline
  backend/scenwise_backend/__init__.py
Due: test backend

Changed simulation id to json to include more information regarding road segments and condition types when sending frames to the websocket listeners
  backend/api/simulations/compression.py
Due: test backend

Added auth file to remove code duplication.`
  backend/README.md
  backend/api/folders/schema.py
  backend/users/schema.py
  backend/utils/auth.py
Due: test backend

Changed graphql schema to match on frontend and backend
  backend/api/simulations/compression.py
  frontend-web/src/local_store/schema.ts
Due: build frontend-web, test backend

Create basic login screen
  frontend-web/package-lock.json
  frontend-web/package.json
  frontend-web/src/helper/history.js
  frontend-web/src/local_store/resolvers.ts
  frontend-web/src/views/login/Login.tsx
Due: build frontend-web

Added authentication to api/folders
  backend/api/folders/schema.py
Due: test backend

Added auth to labels and road_segments
  backend/api/labels/schema.py
  backend/api/road_segments/schema.py
Due: test backend

Stuff.
  frontend-web/package.json
  frontend-web/src/App.js
  frontend-web/src/views/login/Login.tsx
Due: build frontend-web

Added auth to instruments
  backend/api/instruments/instrument_actions/schema.py
  backend/api/instruments/schema.py
Due: test backend

Fix package.json.
  frontend-web/package-lock.json
  frontend-web/package.json
  frontend-web/src/App.js
Due: build frontend-web

Put jwt into cookie
  backend/scenwise_backend/urls.py
  frontend-web/src/App.js
Due: build frontend-web, test backend

Fix set state.
  frontend-web/src/views/login/Login.tsx
Due: build frontend-web

Test.
  frontend-web/src/views/login/Login.tsx
Due: build frontend-web

Changed test
  backend/tests/api/folders/test_schema.py
Due: test backend

TEST
  frontend-web/src/views/login/Login.tsx
Due: build frontend-web

Fixed cors issues
  backend/scenwise_backend/settings.py
  frontend-web/src/views/login/Login.tsx
Due: build frontend-web, test backend

Fixed URL
  frontend-web/src/views/login/Login.tsx
Due: build frontend-web

Commented all permission checks for fixing tests
  backend/api/folders/schema.py
  backend/api/instruments/instrument_actions/schema.py
  backend/api/instruments/schema.py
  backend/api/labels/schema.py
  backend/api/road_segments/schema.py
Due: test backend

Reverted test schema
  backend/tests/api/folders/test_schema.py
Due: test backend

add simple login screen
  frontend-web/package.json
  frontend-web/src/views/authentication/Login.js
Due: build frontend-web

small additions
  frontend-web/src/views/authentication/Login.js
  frontend-web/tsconfig.json
Due: build frontend-web

Working on the insights Pane
  frontend-web/src/views/scenario-designer/ScenarioDesigner.tsx
  frontend-web/src/views/scenario-designer/modules/InsightsPane.tsx
Due: build frontend-web

Small change to use the 'schema' in local_store for insights
  frontend-web/src/views/scenario-designer/ScenarioDesigner.tsx
Due: build frontend-web

Path conditions:
  build frontend-web: any of: frontend-web/**/*
  test backend: any of: backend/**/*
