Repository Rohan-Deshamudre/Smart-traffic-management-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy frontend-web, deploy backend

.gitlab-ci.yml:

stages:
  - build
  - test
  - production

build frontend-web:
  image: node:latest
  stage: build
  script:
    - cd frontend-web
    - npm install
    - npm rebuild node-sass
    - npm run-script build
  artifacts:
    paths:
      - frontend-web/build
    
test backend:
  image: python:3
  stage: test
  before_script:
    - pip3 install django graphene-django django-cors-headers django-channels django-graphql-jwt mysqlclient mapbox coverage dicttoxml
  script:
    - cd backend
    - python3 manage.py test
    - coverage run manage.py test
    - coverage html
    - coverage xml
    - "coverage report | grep 'TOTAL' | awk '{print substr($NF, 1, 2), \"% covered\"}'"
  coverage: /\d+ \% covered/
  artifacts:
    paths:
      - backend/htmlcov
    reports:
      cobertura: backend/coverage.xml

deploy frontend-web:
  image: node:latest
  stage: production
  only:
    refs:
      - master
      - development
    changes:
      - frontend-web/**/*
  before_script:
    - apt-get update -qq && apt-get install -y -qq sshpass
  script:
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/stop_frontend.sh
    - sshpass -e scp -o stricthostkeychecking=no -r frontend-web tudectree@172.104.250.55:/home/tudectree/stm
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/start_frontend.sh

deploy backend:
  image: python:3
  stage: production
  only:
    refs:
      - master
      - development
    changes:
      - backend/**/*
  before_script:
    - apt-get update -qq && apt-get install -y -qq sshpass
  script:
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/stop_backend.sh
    - sshpass -e scp -o stricthostkeychecking=no -r backend tudectree@172.104.250.55:/home/tudectree/stm
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/start_backend.sh

Fix value not accepting string in back- and front-end
  backend/api/road_conditions/schema.py
  frontend-web/src/views/scenario-designer/toolboxes/road-condition/RoadConditionToolboxQueries.tsx
Due: deploy frontend-web, deploy backend

Fix test
  backend/tests/api/road_conditions/test_schema.py
Due: deploy backend

Improved import of response plan to allow for custom conditions
  backend/api/response_plans/compression.py
  backend/tests/api/response_plans/test_compression.py
Due: deploy backend

Changed the insights log to filter insights with no information
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

Changed the text description in insights pane
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
  frontend-web/src/views/scenario-simulator/modules/InsightsPane.tsx
Due: deploy frontend-web

Small edit
  frontend-web/src/views/scenario-simulator/modules/InsightsPane.tsx
Due: deploy frontend-web

Implement basic map and list.
  frontend-mobile/App_Resources/Android/settings.json
  frontend-mobile/App_Resources/iOS/Info.plist
  frontend-mobile/App_Resources/iOS/build.xcconfig
  frontend-mobile/package-lock.json
  frontend-mobile/package.json
  frontend-mobile/src/_app-common.scss
  frontend-mobile/src/app/app-routing.module.ts
  frontend-mobile/src/app/app.component.html
  frontend-mobile/src/app/app.module.ts
  frontend-mobile/src/app/browse/browse.component.html
  frontend-mobile/src/app/browse/browse.component.ts
  frontend-mobile/src/app/home/home.component.html
  frontend-mobile/src/app/home/home.component.ts
  frontend-mobile/src/app/home/home.module.ts
  frontend-mobile/src/app/home/item-detail/item-detail.component.html
  frontend-mobile/src/app/search/search-routing.module.ts
  frontend-mobile/src/app/search/search.component.html
  frontend-mobile/src/app/search/search.component.ts
  frontend-mobile/src/app/search/search.module.ts
  frontend-mobile/src/main.ts
Due: none

highlight response plan conditions in different colours
  frontend-web/src/components/styles/pane.scss
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

display operator
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

Added firebase plugin and setup.
  frontend-mobile/App_Resources/Android/google-services.json
  frontend-mobile/App_Resources/iOS/GoogleService-Info.plist
  frontend-mobile/firebase.nativescript.json
  frontend-mobile/package-lock.json
  frontend-mobile/package.json
  frontend-mobile/src/app/app.component.ts
Due: none

Fixed multidex error on android
  frontend-mobile/App_Resources/Android/app.gradle
Due: none

Code for storing notifications.
  frontend-mobile/src/app/app.component.ts
  frontend-mobile/src/app/home/home.component.html
  frontend-mobile/src/app/home/home.component.ts
  frontend-mobile/src/app/home/item-detail/item-detail.component.html
  frontend-mobile/src/app/home/item-detail/item-detail.component.ts
  frontend-mobile/src/app/shared/data.service.ts
  frontend-mobile/src/app/shared/notification.object.ts
Due: none

Styling and default notifications.
  frontend-mobile/src/_app-common.scss
  frontend-mobile/src/app/home/home.component.html
  frontend-mobile/src/app/home/home.component.ts
  frontend-mobile/src/app/home/item-detail/item-detail.component.html
Due: none

Added code to push notifications from the backend
  backend/decision_support/response_plans.py
  backend/notifications/push_notifications.py
  backend/scenwise_backend/settings.py
Due: deploy backend

Fix app name.
  frontend-mobile/App_Resources/Android/src/main/res/values/strings.xml
  frontend-mobile/App_Resources/iOS/Info.plist
  frontend-mobile/src/_app-common.scss
  frontend-mobile/src/app/home/item-detail/item-detail.component.html
Due: none

Set push notifications to broadcast to all users subscribed to response-plans
  backend/decision_support/response_plans.py
  backend/scenwise_backend/settings.py
Due: deploy backend

Fix.
  frontend-mobile/App_Resources/iOS/Info.plist
  frontend-mobile/App_Resources/iOS/build.xcconfig
  frontend-mobile/App_Resources/iOS/frontendmobile.entitlements
  frontend-mobile/src/app/home/home.component.ts
  frontend-mobile/src/app/home/item-detail/item-detail.component.html
Due: none

Fix for loading items.
  frontend-mobile/src/app/home/home.component.html
  frontend-mobile/src/app/home/home.component.ts
Due: none

Moved send notification to external function
  backend/decision_support/response_plans.py
Due: deploy backend

Fix for undefined.
  frontend-mobile/src/app/home/home.component.html
Due: none

Change to normal list view.
  frontend-mobile/src/app/home/home.component.html
Due: none

Fix height.
  frontend-mobile/src/app/home/home.component.html
Due: none

Fix empty issue.
  frontend-mobile/src/app/home/home.component.ts
Due: none

Change map icon and firebase settings
  frontend-mobile/src/app.android.scss
  frontend-mobile/src/app/app.component.html
  frontend-mobile/src/app/app.component.ts
  frontend-mobile/src/app/home/home.component.html
  frontend-mobile/src/app/home/home.component.ts
Due: none

Added InsightsPane inside Scenario Desinger
  backend/api/road_segments/models.py
  backend/api/scenarios/models.py
  backend/api/scenarios/schema.py
  backend/decision_support/response_plans.py
  frontend-mobile/src/app/home/home.component.ts
  frontend-web/src/components/CRUDFolders.tsx
  frontend-web/src/components/workspaceData.ts
  frontend-web/src/local_store/default.ts
  frontend-web/src/views/home/components/Folder.tsx
  frontend-web/src/views/home/components/Item.tsx
  frontend-web/src/views/home/modules/LeftPane.tsx
  frontend-web/src/views/scenario-designer/ScenarioDesigner.tsx
Due: deploy frontend-web, deploy backend

Added response plan insights to designer pane and changed graphql query to use hooks
  frontend-web/src/views/home/components/Folder.tsx
  frontend-web/src/views/home/modules/LeftPane.tsx
  frontend-web/src/views/scenario-designer/ScenarioDesigner.tsx
Due: deploy frontend-web

Made an export tree (frontend) for the download logic
  frontend-web/src/views/scenario-simulator/components/ExportTree.tsx
Due: deploy frontend-web

Added changes to the export tree class
  frontend-web/src/views/scenario-simulator/components/ExportTree.tsx
Due: deploy frontend-web

Added the button for download and used response plan in insights log for content
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
  frontend-web/src/views/scenario-simulator/components/PaneBottomButtons.tsx
Due: deploy frontend-web

Improved readability on related/similar classes
  frontend-web/src/components/buttons/PaneBottomButtons.tsx
  frontend-web/src/views/scenario-designer/ScenarioDesigner.tsx
Due: deploy frontend-web

Made export response plan functional
  frontend-web/src/views/scenario-simulator/components/ExportTree.tsx
Due: deploy frontend-web

Fixed look of the pane and button formatting at bottom
  frontend-web/src/views/scenario-simulator/components/ExportTree.tsx
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
  frontend-web/src/views/scenario-simulator/components/PaneBottomButtons.tsx
  frontend-web/src/views/scenario-simulator/modules/InsightsPane.tsx
Due: deploy frontend-web

Get rid of comments
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
  frontend-web/src/views/scenario-simulator/components/PaneBottomButtons.tsx
Due: deploy frontend-web
