Repository Rohan-Deshamudre/Smart-traffic-management-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy frontend-web, deploy backend

.gitlab-ci.yml:

stages:
  - build
  - test
  - production

build frontend-web:
  image: node:latest
  stage: build
  script:
    - cd frontend-web
    - npm install
    - npm rebuild node-sass
    - npm run-script build
  artifacts:
    paths:
      - frontend-web/build
    
test backend:
  image: python:3
  stage: test
  before_script:
    - pip3 install django graphene-django django-cors-headers django-channels django-graphql-jwt mysqlclient mapbox coverage dicttoxml
  script:
    - cd backend
    - python3 manage.py test
    - coverage run manage.py test
    - coverage html
    - coverage xml
    - "coverage report | grep 'TOTAL' | awk '{print substr($NF, 1, 2), \"% covered\"}'"
  coverage: /\d+ \% covered/
  artifacts:
    paths:
      - backend/htmlcov
    reports:
      cobertura: backend/coverage.xml

deploy frontend-web:
  image: node:latest
  stage: production
  only:
    refs:
      - master
      - development
    changes:
      - frontend-web/**/*
  before_script:
    - apt-get update -qq && apt-get install -y -qq sshpass
  script:
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/stop_frontend.sh
    - sshpass -e scp -o stricthostkeychecking=no -r frontend-web tudectree@172.104.250.55:/home/tudectree/stm
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/start_frontend.sh

deploy backend:
  image: python:3
  stage: production
  only:
    refs:
      - master
      - development
    changes:
      - backend/**/*
  before_script:
    - apt-get update -qq && apt-get install -y -qq sshpass
  script:
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/stop_backend.sh
    - sshpass -e scp -o stricthostkeychecking=no -r backend tudectree@172.104.250.55:/home/tudectree/stm
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/start_backend.sh

Start drawing of response plan tree.
  frontend-web/src/components/styles/tree.scss
  frontend-web/src/components/tree/Tree.tsx
  frontend-web/src/helper/tree/treeDraw.ts
Due: deploy frontend-web

Added editing for traffic speed, intensity and travel time on the frontend
  frontend-web/src/components/buttons/CongestionLevelButton.tsx
  frontend-web/src/components/buttons/RoadConditionButton.tsx
  frontend-web/src/components/buttons/styles/congestionLevelButton.scss
  frontend-web/src/views/scenario-designer/toolboxes/road-condition/RoadConditionToolbox.tsx
Due: deploy frontend-web

Added loop to check all response plans and signal if they are active or not
  backend/decision_support/response_plans.py
  backend/decision_support/road_conditions.py
  backend/decision_support/site_id.py
  frontend-web/src/components/buttons/RoadConditionButton.tsx
  frontend-web/src/helper/map/mapDisplay.ts
  frontend-web/src/views/home/modules/LeftPane.tsx
  frontend-web/src/views/home/modules/RightPane.tsx
Due: deploy frontend-web, deploy backend

Added option to specify response plan to simulation scene events
  backend/api/simulations/compression.py
  backend/api/simulations/input_object.py
  backend/api/simulations/methods/create.py
  backend/api/simulations/methods/update.py
  backend/api/simulations/models.py
  backend/api/simulations/schema.py
  backend/subscription/connection.py
  backend/tests/api/simulations/methods.py
  backend/tests/api/simulations/test_methods.py
  backend/tests/api/simulations/test_schema.py
Due: deploy backend

Removed old and unused XML search
  backend/subscription/connection.py
Due: deploy backend

Working on getting map to be blank before clicking on a node in scenarios
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
Due: deploy frontend-web

Improved the response plan checking to give insights on why certain conditions are active
  backend/decision_support/response_plans.py
  backend/decision_support/road_conditions.py
Due: deploy backend

Increased websocket sleep time to 1 minute because api data is updated every minute
  backend/decision_support/response_plans.py
  backend/subscription/broadcast.py
  frontend-web/src/local_store/schema.ts
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web, deploy backend

Added ResponsePlan object to the frontend schema
  backend/api/response_plans/compression.py
  frontend-web/src/local_store/schema.ts
Due: deploy frontend-web, deploy backend

Migrated InsightsLog component to a functional component
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
  frontend-web/src/views/scenario-simulator/modules/InsightsPane.tsx
Due: deploy frontend-web

Improved code quality for the insights log
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

Added response plan description text to the insights log
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

Removed useless console log
  frontend-web/src/helper/auth.ts
Due: deploy frontend-web

remove alternate route marking and reset back to old drawing
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
Due: deploy frontend-web

add alternate route toolbox
  frontend-web/src/views/scenario-designer/toolboxes/AlternateRouteToolbox.tsx
Due: deploy frontend-web

add alternate route data and variables
  frontend-web/src/views/scenario-designer/toolboxes/road-segment/AddRoadSegment.tsx
  frontend-web/src/views/scenario-designer/toolboxes/road-segment/RoadSegmentToolbox.tsx
  frontend-web/src/views/scenario-designer/toolboxes/road-segment/UpdateRoadSegment.tsx
Due: deploy frontend-web

Got rid of display function to fix marker/icon problem
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
Due: deploy frontend-web

Implement several cases for response plans.
  frontend-web/src/components/tree/Tree.tsx
  frontend-web/src/helper/tree/treeDraw.ts
Due: deploy frontend-web

Made use of get visible tree.
  frontend-web/src/components/tree/Tree.tsx
Due: deploy frontend-web

Added road condition information to the response plan export
  backend/api/response_plans/compression.py
  frontend-web/src/local_store/schema.ts
Due: deploy frontend-web, deploy backend

Implement basic show tree with names.
  frontend-web/src/components/tree/Tree.tsx
  frontend-web/src/helper/map/mapDisplay.ts
  frontend-web/src/helper/tree/treeDraw.ts
Due: deploy frontend-web

Implement dynamic checking for response plan.
  frontend-web/src/components/tree/Tree.tsx
  frontend-web/src/helper/tree/treeDraw.ts
Due: deploy frontend-web

Allow to serialize python lists as json responses
  backend/compression/exporting.py
Due: deploy backend

Add custom command to create user
  backend/scenwise_backend/management/__init__.py
  backend/scenwise_backend/management/commands/__init__.py
  backend/scenwise_backend/management/commands/createuser.py
  backend/scenwise_backend/settings.py
Due: deploy backend

add alternate route marking
  frontend-web/src/views/scenario-designer/toolboxes/road-segment/RoadSegmentToolbox.tsx
Due: deploy frontend-web

Trying to use simulation log to make route popup dynamic
  frontend-web/src/helper/map/mapDisplay.ts
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

Add new delete user command
  backend/scenwise_backend/management/commands/createuser.py
  backend/scenwise_backend/management/commands/deleteuser.py
Due: deploy backend

Add check for existing user
  backend/scenwise_backend/management/commands/createuser.py
Due: deploy backend

Added alternative route to the backend and fixed graphql queries
  backend/api/road_segments/methods/create.py
  backend/api/road_segments/methods/update.py
  backend/api/road_segments/models.py
  backend/api/road_segments/schema.py
  backend/decision_support/response_plans.py
  backend/tests/api/road_segments/test_methods.py
  backend/tests/api/road_segments/test_schema.py
  frontend-web/src/views/scenario-designer/toolboxes/road-segment/RoadSegmentToolboxQueries.tsx
Due: deploy frontend-web, deploy backend

Fix small bug in settings that broke token refreshing
  backend/scenwise_backend/settings.py
Due: deploy backend

Call function to try to add condition on popup
  frontend-web/src/helper/map/mapDisplay.ts
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

Add decorator for permission checking
  backend/api/folders/schema.py
  backend/utils/auth.py
Due: deploy backend

Swap permission checking for group checking decorator in folders and instruments
  backend/api/folders/schema.py
  backend/api/instruments/instrument_actions/schema.py
  backend/api/instruments/schema.py
Due: deploy backend

Add permission blocks to response_plans
  backend/api/response_plans/schema.py
Due: deploy backend

Fix support for multiple response plans.
  frontend-web/src/components/styles/tree.scss
  frontend-web/src/components/tree/Tree.tsx
  frontend-web/src/helper/tree/treeDraw.ts
Due: deploy frontend-web

Changed permission checking to group checking
  backend/api/labels/schema.py
  backend/api/road_conditions/road_condition_actions/schema.py
  backend/api/road_conditions/schema.py
  backend/api/road_segments/schema.py
  backend/api/routes/schema.py
  backend/api/scenarios/schema.py
  backend/api/simulations/schema.py
Due: deploy backend

Fix group check in test
  backend/utils/auth.py
Due: deploy backend

save alternateRoute coords
  frontend-web/src/views/scenario-designer/toolboxes/AlternateRouteToolbox.tsx
  frontend-web/src/views/scenario-designer/toolboxes/road-segment/AddRoadSegment.tsx
  frontend-web/src/views/scenario-designer/toolboxes/road-segment/RoadSegmentToolbox.tsx
  frontend-web/src/views/scenario-designer/toolboxes/road-segment/UpdateRoadSegment.tsx
Due: deploy frontend-web

fix bug
  frontend-web/src/views/scenario-designer/toolboxes/road-segment/RoadSegmentToolbox.tsx
Due: deploy frontend-web

Hotfix authorization not working.
  backend/utils/auth.py
Due: deploy backend
