Repository Rohan-Deshamudre/Smart-traffic-management-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy frontend-web, deploy backend

.gitlab-ci.yml:

stages:
  - build
  - test
  - production

build frontend-web:
  image: node:latest
  stage: build
  script:
    - cd frontend-web
    - npm i
    
test backend:
  image: python:3.6
  stage: test
  before_script:
    - pip3 install django graphene-django django-cors-headers django-channels django-graphql-jwt mysqlclient mapbox coverage
  script:
    - cd backend
    - python3 manage.py test
    - coverage run manage.py test
    - coverage html
    - "coverage report | grep 'TOTAL' | awk '{print substr($NF, 1, 2), \"% covered\"}'"
  coverage: /\d+ \% covered/
  artifacts:
    paths:
      - backend/htmlcov

deploy frontend-web:
  image: node:latest
  stage: production
  only:
    refs:
      - master
      - development
    changes:
      - frontend-web/**/*
  before_script:
    - apt-get update -qq && apt-get install -y -qq sshpass
  script:
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/stop_frontend.sh
    - sshpass -e scp -o stricthostkeychecking=no -r frontend-web tudectree@172.104.250.55:/home/tudectree/stm
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/start_frontend.sh

deploy backend:
  image: python:3.6
  stage: production
  only:
    refs:
      - master
      - development
    changes:
      - backend/**/*
  before_script:
    - apt-get update -qq && apt-get install -y -qq sshpass
  script:
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/stop_backend.sh
    - sshpass -e scp -o stricthostkeychecking=no -r backend tudectree@172.104.250.55:/home/tudectree/stm
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/start_backend.sh

Fixed error so pipeline passes
  frontend-web/src/views/home/modules/RoutePane.tsx
Due: deploy frontend-web

Made a start on the popup code
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
Due: deploy frontend-web

code cleanup
  frontend-web/src/views/home/modules/RoutePane.tsx
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
  frontend-web/src/views/scenario-simulator/modules/InsightsPane.tsx
Due: deploy frontend-web

temporary fix for errors
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
Due: deploy frontend-web

Fixed errors
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
Due: deploy frontend-web

Test.
  frontend-web/src/helper/auth.ts
  frontend-web/src/views/login/Login.tsx
Due: deploy frontend-web

Fix.
  frontend-web/src/helper/auth.ts
  frontend-web/src/views/home/Home.tsx
Due: deploy frontend-web

Fixed query
  frontend-web/src/helper/auth.ts
  frontend-web/src/views/login/Login.tsx
Due: deploy frontend-web

Added permission check on buttons
  frontend-web/src/components/NavBar.tsx
  frontend-web/src/helper/auth.ts
  frontend-web/src/views/home/components/Folder.tsx
  frontend-web/src/views/home/components/Item.tsx
  frontend-web/src/views/login/Login.tsx
  frontend-web/src/views/scenario-designer/ScenarioDesigner.tsx
  frontend-web/src/views/scenario-simulator/ScenarioSimulator.tsx
Due: deploy frontend-web

Switched location of button.
  frontend-web/src/components/NavBar.tsx
Due: deploy frontend-web

Fixed merge
  frontend-web/src/views/scenario-simulator/ScenarioSimulator.tsx
Due: deploy frontend-web

Fix
  frontend-web/src/helper/map/mapDisplay.ts
Due: deploy frontend-web

Made a token change to get highlight working
  frontend-web/.env.production
Due: deploy frontend-web

Introduced markers to visualize popup
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/components/map/styles/map.scss
  frontend-web/src/helper/map/mapDisplay.ts
Due: deploy frontend-web

changed color of problem area and alternate routes
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapSetup.ts
Due: deploy frontend-web

Cleaned up code
  frontend-web/src/helper/map/mapSetup.ts
Due: deploy frontend-web

add sample popup icon
  frontend-web/src/helper/map/mapSetup.ts
Due: deploy frontend-web

remove unused imports
  frontend-web/src/components/map/LocationSelector.tsx
  frontend-web/src/components/tree/Tree.tsx
  frontend-web/src/helper/map/mapDisplay.ts
  frontend-web/src/helper/tree/treeDraw.ts
  frontend-web/src/views/scenario-designer/toolboxes/road-segment/RoadSegmentToolbox.tsx
Due: deploy frontend-web

Small fix
  frontend-web/src/helper/map/mapSetup.ts
Due: deploy frontend-web

Fixed misspelled permission for roadconditiontype
  backend/api/road_conditions/schema.py
Due: deploy backend

Put popup back
  frontend-web/src/helper/map/mapSetup.ts
Due: deploy frontend-web

fix merge issue
  backend/api/road_conditions/schema.py
Due: deploy backend

Fix error (without popup disappearing)
  frontend-web/src/helper/map/mapSetup.ts
Due: deploy frontend-web

Reintroduced market concept to show the destination location on routes
  frontend-web/src/components/map/styles/map.scss
  frontend-web/src/helper/map/mapSetup.ts
Due: deploy frontend-web

Added option to export response plans with xml
  .gitlab-ci.yml
  backend/Dockerfile
  backend/compression/exporting.py
Due: deploy backend

Added permissions in frontend.
  frontend-web/package-lock.json
  frontend-web/package.json
  frontend-web/src/views/home/components/rightPaneComponents/Instrument.tsx
  frontend-web/src/views/home/components/rightPaneComponents/InstrumentAction.tsx
  frontend-web/src/views/home/modules/LeftPane.tsx
  frontend-web/src/views/home/modules/RightPane.tsx
Due: deploy frontend-web

Fixed exception for missing id in request
  backend/compression/exporting.py
Due: deploy backend

Added tree traversal for response plans in the backend
  backend/decision_support/exceptions.py
  backend/decision_support/response_plans.py
  backend/decision_support/road_conditions.py
Due: deploy backend

Modified response plans to be created from scenarios
  backend/api/response_plans/compression.py
  backend/api/response_plans/methods.py
  backend/api/response_plans/models.py
  backend/api/response_plans/schema.py
  backend/tests/api/response_plans/methods.py
  backend/tests/api/response_plans/test_compression.py
  backend/tests/api/response_plans/test_methods.py
  backend/tests/api/response_plans/test_models.py
  backend/tests/api/response_plans/test_schema.py
Due: deploy backend

added request for alternate route
  frontend-web/src/helper/requests.ts
Due: deploy frontend-web

display for the alternate route + cleanup
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
  frontend-web/src/helper/map/mapSetup.ts
Due: deploy frontend-web

Got popup icon moving as per route coordinates
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
  frontend-web/src/helper/map/mapSetup.ts
Due: deploy frontend-web

Got marker moving as per route destination
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
  frontend-web/src/helper/map/mapSetup.ts
Due: deploy frontend-web

Added cobertura to pipeline
  .gitlab-ci.yml
Due: none

Added development mode to the authentication to not require login
  backend/utils/auth.py
Due: deploy backend

Changed icon location so it displays in the middle of the problem route
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
Due: deploy frontend-web

Got popup displaying when hovering over icon
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
  frontend-web/src/helper/map/mapSetup.ts
Due: deploy frontend-web

Made it one function call for the drawings
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
Due: deploy frontend-web

--BROKEN--
  backend/api/road_conditions/models.py
  backend/decision_support/road_conditions.py
  backend/subscription/connection.py
Due: deploy backend

got rid of duplicate code
  frontend-web/src/helper/requests.ts
Due: deploy frontend-web
