Repository Rohan-Deshamudre/Smart-traffic-management-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy frontend-web, deploy backend

.gitlab-ci.yml:

stages:
  - build
  - test
  - production

build frontend-web:
  image: node:latest
  stage: build
  script:
    - cd frontend-web
    - npm install
    - npm rebuild node-sass
    - npm run-script build
  artifacts:
    paths:
      - frontend-web/build
    
test backend:
  image: python:3
  stage: test
  before_script:
    - pip3 install django graphene-django django-cors-headers django-channels django-graphql-jwt mysqlclient mapbox coverage dicttoxml
  script:
    - cd backend
    - python3 manage.py test
    - coverage run manage.py test
    - coverage html
    - coverage xml
    - "coverage report | grep 'TOTAL' | awk '{print substr($NF, 1, 2), \"% covered\"}'"
  coverage: /\d+ \% covered/
  artifacts:
    paths:
      - backend/htmlcov
    reports:
      cobertura: backend/coverage.xml

deploy frontend-web:
  image: node:latest
  stage: production
  only:
    refs:
      - master
      - development
    changes:
      - frontend-web/**/*
  before_script:
    - apt-get update -qq && apt-get install -y -qq sshpass
  script:
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/stop_frontend.sh
    - sshpass -e scp -o stricthostkeychecking=no -r frontend-web tudectree@172.104.250.55:/home/tudectree/stm
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/start_frontend.sh

deploy backend:
  image: python:3
  stage: production
  only:
    refs:
      - master
      - development
    changes:
      - backend/**/*
  before_script:
    - apt-get update -qq && apt-get install -y -qq sshpass
  script:
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/stop_backend.sh
    - sshpass -e scp -o stricthostkeychecking=no -r backend tudectree@172.104.250.55:/home/tudectree/stm
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/start_backend.sh

Fix start node.
  frontend-web/src/components/tree/Tree.tsx
  frontend-web/src/helper/tree/treeDraw.ts
Due: deploy frontend-web

add display for alternateRoute
  frontend-web/src/components/Workspace.tsx
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/components/workspaceData.ts
  frontend-web/src/views/scenario-designer/toolboxes/AlternateRouteToolbox.tsx
Due: deploy frontend-web

Added parsing of simulation scene response plan to activate or deactivate branches
  backend/api/simulations/compression.py
  frontend-web/src/components/Workspace.tsx
  frontend-web/src/components/tree/Tree.tsx
  frontend-web/src/components/tree/treeUtils.ts
  frontend-web/src/local_store/schema.ts
  frontend-web/src/views/scenario-simulator/SimulationQueries.ts
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web, deploy backend

Removed test code
  frontend-web/src/components/tree/Tree.tsx
  frontend-web/src/components/tree/treeUtils.ts
Due: deploy frontend-web

dispay alternate route in green
  frontend-web/src/components/Workspace.tsx
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/components/workspaceData.ts
  frontend-web/src/local_store/default.ts
Due: deploy frontend-web

Fix resolve_routes query
  backend/api/api_schema.py
  backend/api/routes/schema.py
Due: deploy backend

Remove old alternate function
  frontend-web/src/components/map/Map.tsx
  frontend-web/src/helper/map/mapDisplay.ts
Due: deploy frontend-web

Remove popup from the problem route icon
  frontend-web/src/helper/map/mapDisplay.ts
Due: deploy frontend-web

fix display bug
  frontend-web/src/components/map/Map.tsx
Due: deploy frontend-web

Fixed bug node not disappearing when response plan was false
  frontend-web/src/components/tree/Tree.tsx
Due: deploy frontend-web

Fixed failing frontend build
  frontend-web/src/components/Workspace.tsx
Due: deploy frontend-web

Fixed bug where response plan updating caused to delete the decision tree for the scenario
  frontend-web/src/components/tree/Tree.tsx
Due: deploy frontend-web

Added field for response_plan_active to the db and changed graphql queries
  backend/api/road_segments/models.py
  backend/api/scenarios/models.py
  backend/api/scenarios/schema.py
  backend/decision_support/response_plans.py
  frontend-web/src/components/CRUDFolders.tsx
  frontend-web/src/components/workspaceData.ts
Due: deploy frontend-web, deploy backend

Moved Home, ScenarioDesigner and Login from Class based Components to Functional components
  frontend-web/src/views/home/Home.tsx
  frontend-web/src/views/login/Login.tsx
  frontend-web/src/views/scenario-designer/ScenarioDesigner.tsx
Due: deploy frontend-web

Upgrade Folder and AddFolder from class based components to functional components
  frontend-web/src/views/home/components/AddFolder.tsx
  frontend-web/src/views/home/components/Folder.tsx
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
  frontend-web/src/views/scenario-simulator/modules/InsightsPane.tsx
Due: deploy frontend-web

Upgraded all Higher Order Components to functional components
  frontend-web/src/components/DesignerPane.tsx
  frontend-web/src/components/InsightsPane.tsx
  frontend-web/src/components/LeftPane.tsx
  frontend-web/src/components/RightPane.tsx
  frontend-web/src/components/RoutePane.tsx
  frontend-web/src/views/home/modules/LeftPane.tsx
  frontend-web/src/views/home/modules/RightPane.tsx
Due: deploy frontend-web

Upgrade ScenarioSimulator to functional component
  frontend-web/src/views/scenario-simulator/ScenarioSimulator.tsx
Due: deploy frontend-web

Added hook clean up to scenario simulator
  frontend-web/src/views/scenario-simulator/ScenarioSimulator.tsx
Due: deploy frontend-web

CongestionLevelButton,RoadConditionButton,AlternateRouteToolbox upgraded to functional components
  frontend-web/src/components/buttons/CongestionLevelButton.tsx
  frontend-web/src/components/buttons/RoadConditionButton.tsx
  frontend-web/src/views/scenario-designer/toolboxes/AlternateRouteToolbox.tsx
Due: deploy frontend-web

delete routes pane
  frontend-web/src/components/RoutePane.tsx
  frontend-web/src/components/styles/pane.scss
  frontend-web/src/main.scss
  frontend-web/src/views/home/Home.tsx
  frontend-web/src/views/home/modules/RoutePane.tsx
Due: deploy frontend-web

upgrade RouteToolbox
  frontend-web/src/views/scenario-designer/toolboxes/RouteToolbox.tsx
Due: deploy frontend-web

Changed condition checking to use the response plan in the simulation
  backend/api/simulations/compression.py
  frontend-web/src/components/tree/treeUtils.ts
  frontend-web/src/local_store/schema.ts
  frontend-web/src/views/scenario-simulator/SimulationQueries.ts
Due: deploy frontend-web, deploy backend

Added active/not active icon next to scenarios
  frontend-web/src/assets/active.svg
  frontend-web/src/assets/not_active.svg
  frontend-web/src/views/home/components/Folder.tsx
  frontend-web/src/views/home/components/Item.tsx
  frontend-web/src/views/home/modules/LeftPane.tsx
Due: deploy frontend-web

Added better svg file for not active response plans
  frontend-web/src/assets/not_active.svg
Due: deploy frontend-web

Added alert icon for scenarios that contain an active response plan
  frontend-web/src/assets/alert.svg
  frontend-web/src/views/home/components/Folder.tsx
Due: deploy frontend-web

Added scenarios tab to scenario simulator for better navigation
  frontend-web/src/views/scenario-simulator/ScenarioSimulator.tsx
Due: deploy frontend-web

Made App functional and scenario is default true in designer page
  frontend-web/src/App.js
  frontend-web/src/views/scenario-designer/ScenarioDesigner.tsx
Due: deploy frontend-web

Default delta for live data set to 4 minutes to speed up retrieval of data from the api
  backend/utils/retrieve_data.py
Due: deploy backend

Fixed typo and bug in decision support module
  backend/decision_support/response_plans.py
  backend/decision_support/road_conditions.py
Due: deploy backend

Set scenario pane to be open by default in the simulator
  frontend-web/src/views/scenario-simulator/ScenarioSimulator.tsx
Due: deploy frontend-web

Debug failing query
  frontend-web/src/views/scenario-designer/toolboxes/road-condition/RoadConditionToolboxQueries.tsx
Due: deploy frontend-web

Fixed value as string in the backend
  backend/api/road_conditions/methods/create.py
Due: deploy backend

Changed type of value for road conditions in the backend
  backend/api/road_conditions/methods/update.py
Due: deploy backend

Add error link handler
  frontend-web/src/main.js
Due: deploy frontend-web

Made AddRoadCondition functional
  frontend-web/src/views/scenario-designer/toolboxes/road-condition/AddRoadCondition.tsx
Due: deploy frontend-web

Fix error handler
  frontend-web/src/main.js
Due: deploy frontend-web

Show branches of the tree only in the case that the response plan is active
  frontend-web/src/components/buttons/RoadConditionButton.tsx
  frontend-web/src/components/tree/Tree.tsx
  frontend-web/src/views/scenario-simulator/ScenarioSimulator.tsx
Due: deploy frontend-web

Add icons for AND and OR operator.
  frontend-web/src/assets/tree_icons/and.svg
  frontend-web/src/assets/tree_icons/or.svg
  frontend-web/src/helper/tree/treeDraw.ts
Due: deploy frontend-web

Add icons for road conditions.
  frontend-web/src/assets/tree_icons/road_condition/day.svg
  frontend-web/src/assets/tree_icons/road_condition/time.svg
  frontend-web/src/assets/tree_icons/road_condition/traffic_intensity.svg
  frontend-web/src/assets/tree_icons/road_condition/traffic_speed.svg
  frontend-web/src/components/buttons/RoadConditionButton.tsx
  frontend-web/src/components/tree/Tree.tsx
  frontend-web/src/helper/tree/treeDraw.ts
  frontend-web/src/views/home/modules/LeftPane.tsx
  frontend-web/src/views/scenario-simulator/ScenarioSimulator.tsx
Due: deploy frontend-web

Change name of response plan header.
  frontend-web/src/components/tree/Tree.tsx
  frontend-web/src/helper/tree/treeDraw.ts
Due: deploy frontend-web
