Repository Rohan-Deshamudre/Smart-traffic-management-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy frontend-web, deploy backend

.gitlab-ci.yml:

stages:
  - build
  - test
  - production

build frontend-web:
  image: node:latest
  stage: build
  script:
    - cd frontend-web
    - npm i
    
test backend:
  image: python:3.6
  stage: test
  before_script:
    - pip3 install django graphene-django django-cors-headers django-channels django-graphql-jwt mysqlclient mapbox coverage
  script:
    - cd backend
    - python3 manage.py test
    - coverage run manage.py test
    - coverage html
    - "coverage report | grep 'TOTAL' | awk '{print substr($NF, 1, 2), \"% covered\"}'"
  coverage: /\d+ \% covered/
  artifacts:
    paths:
      - backend/htmlcov

deploy frontend-web:
  image: node:latest
  stage: production
  only:
    refs:
      - master
      - development
    changes:
      - frontend-web/**/*
  before_script:
    - apt-get update -qq && apt-get install -y -qq sshpass
  script:
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/stop_frontend.sh
    - sshpass -e scp -o stricthostkeychecking=no -r frontend-web tudectree@172.104.250.55:/home/tudectree/stm
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/start_frontend.sh

deploy backend:
  image: python:3.6
  stage: production
  only:
    refs:
      - master
      - development
    changes:
      - backend/**/*
  before_script:
    - apt-get update -qq && apt-get install -y -qq sshpass
  script:
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/stop_backend.sh
    - sshpass -e scp -o stricthostkeychecking=no -r backend tudectree@172.104.250.55:/home/tudectree/stm
    - sshpass -e ssh -o StrictHostKeyChecking=no tudectree@172.104.250.55 bash /home/tudectree/stm/start_backend.sh

Stylized the button & added conditional
  frontend-web/src/components/styles/pane.scss
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

congestion description
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

roadworks description
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

Added some content to insights pane
  frontend-web/src/components/styles/pane.scss
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
  frontend-web/src/views/scenario-simulator/modules/InsightsPane.tsx
Due: deploy frontend-web

Refitted the pane and added switch statements to account for all cases
  frontend-web/src/components/styles/pane.scss
  frontend-web/src/main.scss
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

added the other descriptions
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

removed deactived parts of tree
  frontend-web/src/components/styles/tree.scss
Due: deploy frontend-web

added thicker links
  frontend-web/src/components/styles/tree.scss
Due: deploy frontend-web

Fix
  frontend-web/src/components/styles/tree.scss
Due: deploy frontend-web

Replaced switch functions and added one for the descriptions
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

Added Response Plans to the API
  backend/api/api_schema.py
  backend/api/response_plans/methods.py
  backend/api/response_plans/models.py
  backend/api/response_plans/schema.py
  backend/scenwise_backend/dbrouter.py
  backend/scenwise_backend/settings.py
Due: deploy backend

Implemented environments.
  frontend-web/.env.production
  frontend-web/package-lock.json
  frontend-web/package.json
  frontend-web/src/helper/auth.ts
  frontend-web/src/main.js
  frontend-web/src/views/login/Login.tsx
Due: deploy frontend-web

Implemented refresh token.
  frontend-web/src/App.js
  frontend-web/src/helper/auth.ts
  frontend-web/src/main.js
  frontend-web/src/views/home/Home.tsx
Due: deploy frontend-web

Implemented the saving of roles.
  frontend-web/src/helper/auth.ts
  frontend-web/src/views/login/Login.tsx
Due: deploy frontend-web

Added group to tokenauth
  backend/scenwise_backend/schema.py
  backend/users/groups/schema.py
  backend/users/schema.py
  backend/utils/CustomJSONWebTokenMutation.py
Due: deploy backend

Removed TODOs and added edge cases checks
  backend/api/response_plans/exceptions.py
  backend/api/response_plans/methods.py
Due: deploy backend

Changed delta to 15m
  backend/scenwise_backend/settings.py
  frontend-web/src/helper/auth.ts
  frontend-web/src/views/home/Home.tsx
  frontend-web/src/views/login/Login.tsx
Due: deploy frontend-web, deploy backend

Implement sign out
  frontend-web/src/components/NavBar.tsx
  frontend-web/src/helper/auth.ts
  frontend-web/src/views/home/Home.tsx
  frontend-web/src/views/login/Login.tsx
Due: deploy frontend-web

Fixed timedelta error
  backend/scenwise_backend/settings.py
Due: deploy backend

Fix
  frontend-web/src/components/NavBar.tsx
  frontend-web/src/helper/auth.ts
  frontend-web/src/views/authentication/Login.tsx
Due: deploy frontend-web

Removed the unnecessary details in the insights Pane
  frontend-web/src/views/scenario-simulator/components/InsightsLog.tsx
Due: deploy frontend-web

Style
  frontend-web/src/components/NavBar.tsx
  frontend-web/src/components/styles/navbar.scss
Due: deploy frontend-web

Added customjwtpayload
  backend/utils/CustomJWTPayload.py
Due: deploy backend

TODO: place jwt_payload function in different file. Added jwt_payload function to add group to payload
  backend/scenwise_backend/schema.py
  backend/scenwise_backend/settings.py
  backend/utils/CustomJSONWebTokenMutation.py
  backend/utils/CustomJWTPayload.py
Due: deploy backend

Added tests for 100% coverage on api/response_plans
  backend/api/response_plans/schema.py
  backend/tests/api/response_plans/methods.py
  backend/tests/api/response_plans/test_methods.py
  backend/tests/api/response_plans/test_models.py
  backend/tests/api/response_plans/test_schema.py
Due: deploy backend

Fixed test not being detected by django
  backend/tests/api/response_plans/__init__.py
Due: deploy backend

Added /export/responseplan with tests
  backend/api/response_plans/compression.py
  backend/compression/exporting.py
  backend/scenwise_backend/urls.py
  backend/tests/api/response_plans/test_compression.py
Due: deploy backend

Showing problem area when adding condition
  frontend-web/src/views/scenario-designer/toolboxes/road-condition/RoadConditionToolbox.tsx
Due: deploy frontend-web

Implemented correct nav bar and loading indicator.
  frontend-web/src/assets/logout.svg
  frontend-web/src/components/NavBar.tsx
  frontend-web/src/components/Workspace.tsx
  frontend-web/src/components/styles/navbar.scss
  frontend-web/src/main.scss
  frontend-web/src/views/home/Home.tsx
  frontend-web/src/views/home/components/rightPaneComponents/Instrument.tsx
  frontend-web/src/views/home/modules/LeftPane.tsx
  frontend-web/src/views/scenario-designer/ScenarioDesigner.tsx
  frontend-web/src/views/scenario-simulator/ScenarioSimulator.tsx
  frontend-web/src/views/scenario-simulator/components/SimulationList.tsx
Due: deploy frontend-web

Added import for response plans with tests
  backend/api/response_plans/compression.py
  backend/api/response_plans/methods.py
  backend/compression/importing.py
  backend/scenwise_backend/urls.py
  backend/tests/api/response_plans/test_compression.py
  backend/tests/api/response_plans/test_methods.py
Due: deploy backend

Fixed pep8 remarks
  backend/Dockerfile
  backend/api/api_schema.py
  backend/api/response_plans/compression.py
  backend/api/response_plans/exceptions.py
  backend/api/response_plans/methods.py
  backend/api/response_plans/models.py
  backend/api/response_plans/schema.py
  backend/api/road_conditions/methods/update.py
  backend/api/road_conditions/road_condition_actions/compression.py
  backend/api/simulations/compression.py
  backend/compression/exporting.py
  backend/compression/importing.py
  backend/tests/api/response_plans/methods.py
  backend/tests/api/response_plans/test_compression.py
  backend/tests/api/response_plans/test_methods.py
  backend/tests/api/response_plans/test_models.py
  backend/tests/api/response_plans/test_schema.py
  backend/tests/api/road_conditions/road_condition_actions/test_schema.py
Due: deploy backend

delete problem area highlighting
  frontend-web/src/views/scenario-designer/toolboxes/road-condition/RoadConditionToolbox.tsx
Due: deploy frontend-web

added routes pane for preferred route
  frontend-web/src/components/RoutePane.tsx
  frontend-web/src/components/styles/pane.scss
  frontend-web/src/helper/map/mapDisplay.ts
  frontend-web/src/main.scss
  frontend-web/src/views/home/Home.tsx
  frontend-web/src/views/home/modules/RoutePane.tsx
  frontend-web/src/views/scenario-simulator/modules/InsightsPane.tsx
Due: deploy frontend-web

Revert "added routes pane for preferred route"
  frontend-web/src/components/RoutePane.tsx
  frontend-web/src/components/styles/pane.scss
  frontend-web/src/helper/map/mapDisplay.ts
  frontend-web/src/main.scss
  frontend-web/src/views/home/Home.tsx
  frontend-web/src/views/home/modules/RoutePane.tsx
  frontend-web/src/views/scenario-simulator/modules/InsightsPane.tsx
Due: deploy frontend-web

added route planner pane
  frontend-web/src/components/RoutePane.tsx
  frontend-web/src/components/styles/pane.scss
  frontend-web/src/main.scss
  frontend-web/src/views/home/Home.tsx
  frontend-web/src/views/home/modules/RoutePane.tsx
Due: deploy frontend-web

added route icon
  frontend-web/src/assets/node_icons/destination.svg
  frontend-web/src/views/home/Home.tsx
Due: deploy frontend-web

added header and body where start and stop box should go
  frontend-web/src/views/home/modules/RoutePane.tsx
Due: deploy frontend-web

Added toolbox for highlighting route
  frontend-web/src/views/home/modules/RoutePane.tsx
Due: deploy frontend-web

Got rid of the button
  frontend-web/src/views/home/modules/RoutePane.tsx
Due: deploy frontend-web

Upgraded backend to latest python version 3.8.2
  .gitlab-ci.yml
  backend/Dockerfile
  backend/ndw/datex_ii/endpoints/trafficspeed.py
  backend/tests/api/folders/test_schema.py
  backend/tests/api/instruments/instrument_actions/test_schema.py
  backend/tests/api/instruments/test_schema.py
  backend/tests/api/road_conditions/road_condition_actions/test_schema.py
  backend/tests/api/road_conditions/test_schema.py
  backend/tests/api/road_segments/test_schema.py
  backend/tests/api/scenarios/test_schema.py
  backend/tests/api/simulations/test_schema.py
Due: deploy backend
